In [37]:
import numpy as np
import pandas as pd

# Read the dataset
df = pd.read_csv("household_power_consumption.txt",sep=';',low_memory=False)# Read the dataset

# Delete the columns 'Time', 'Sub_metering_2', and 'Sub_metering_3'
df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)

def update_types(df):
        df['Global_active_power'] = pd.to_numeric(df['Global_active_power'], errors='coerce')
        df['Global_reactive_power'] = pd.to_numeric(df['Global_reactive_power'], errors='coerce')
        df['Voltage'] = pd.to_numeric(df['Voltage'], errors='coerce')
        df['Global_intensity'] = pd.to_numeric(df['Global_intensity'], errors='coerce')
        df['Sub_metering_1'] = pd.to_numeric(df['Sub_metering_1'], errors='coerce')
    
        return df;

In [38]:
#df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Set 'Date' as the index
df = df.set_index('Date')

In [39]:
df.head().index

Index(['16/12/2006', '16/12/2006', '16/12/2006', '16/12/2006', '16/12/2006'], dtype='object', name='Date')

In [40]:
df = update_types(df)
df.dtypes

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [41]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
count,137504.000000,137504.000000,137504.000000,137504.000000,137504.000000
mean,1.497897,0.121903,240.787739,6.332201,1.277752
std,1.330325,0.114189,3.302877,5.617184,6.573751
min,0.194000,0.000000,223.490000,0.800000,0.000000
25%,0.334000,0.000000,238.670000,1.400000,0.000000
50%,1.328000,0.108000,241.020000,5.400000,0.000000
75%,2.310000,0.188000,243.070000,9.600000,0.000000
max,10.670000,0.874000,251.700000,46.400000,77.000000

In [42]:
df.isna().sum()

Global_active_power      8
Global_reactive_power    8
Voltage                  8
Global_intensity         8
Sub_metering_1           8
dtype: int64

In [43]:
df.dropna(inplace=True)

In [44]:
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64