In [20]:
import os

folder = 'data'
file_to_download = folder+'/iris.csv'

# Check if foder exists
if not os.path.exists(folder):
    os.makedirs(folder)
    
# Check if the file exists
if not os.path.exists(file_to_download):
    # If the file doesn't exist, download it
    ! wget -P ./data https://raw.githubusercontent.com/01-edu/public/master/subjects/ai/pandas/data/iris.csv
else:
    print(f"{file_to_download} already exists.")

data/iris.csv already exists.

In [21]:
import numpy as np
import pandas as pd

df = pd.read_csv("./data/iris.csv",sep=',',low_memory=False)
df.drop(' flower', axis=1, inplace=True)
df.drop('Unnamed: 0', axis=1, inplace=True)

def update_types(df,columns):
    for c in columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

    return df;

In [22]:
print("Types before convertion")
print(df.dtypes)

Types before convertion
sepal_length    object
sepal_width     object
petal_length    object
petal_width     object
dtype: object

In [23]:
df = update_types(df,['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

print("Types after convertion")
print(df.dtypes)

Types after convertion
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [24]:
print("Missing values")
df.isna().sum().sum()

Missing values

46

In [25]:
print("Question 1")

# Calculating the mean of the 'sepal_length' column
mean_sepal_length = df['sepal_length'].mean()

# Calculating the median of the 'sepal_width' column
median_sepal_width = df['sepal_width'].median()

# Deal with potential negative values
df = df.abs()

df['sepal_length'].fillna(df.sepal_length.mean(), inplace=True)
df['sepal_width'].fillna(df.sepal_width.median(), inplace=True)
df['petal_length'].fillna(0, inplace=True)
df['petal_width'].fillna(0, inplace=True)

Question 1

In [26]:
print("Missing values")
df.isna().sum().sum()

Missing values

0

In [27]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [28]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      56.967808    49.736000     12.506000    11.819333
std      564.483176   404.495154    114.068964   130.547008
min        4.300000     2.000000      0.000000     0.000000
25%        5.100000     2.800000      1.400000     0.300000
50%        5.800000     3.000000      4.050000     1.300000
75%        6.500000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000