In [1]:
import os

folder = 'data'
file_to_download = folder+'/household_power_consumption.txt'

# Check if foder exists
if not os.path.exists(folder):
    os.makedirs(folder)
    
# Check if the file exists
if not os.path.exists(file_to_download):
    # If the file doesn't exist, download it
    ! wget -P ./data https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt
else:
    print(f"{file_to_download} already exists.")
    
else:
    print(f"{file_to_download} already exists.")

household_power_consumption.txt already exists.

In [2]:
import numpy as np
import pandas as pd

# Read the dataset
df = pd.read_csv("data/household_power_consumption.txt",sep=';',low_memory=False)# Read the dataset

# Delete the columns 'Time', 'Sub_metering_2', and 'Sub_metering_3'
df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, inplace=True)

def update_types(df):
        df['Global_active_power'] = pd.to_numeric(df['Global_active_power'], errors='coerce')
        df['Global_reactive_power'] = pd.to_numeric(df['Global_reactive_power'], errors='coerce')
        df['Voltage'] = pd.to_numeric(df['Voltage'], errors='coerce')
        df['Global_intensity'] = pd.to_numeric(df['Global_intensity'], errors='coerce')
        df['Sub_metering_1'] = pd.to_numeric(df['Sub_metering_1'], errors='coerce')
    
        return df;

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Set 'Date' as the index
df = df.set_index('Date')

In [4]:
print("Question 2")
df.head().index

Question 2

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [5]:
df = update_types(df)
print("Question 3")
df.dtypes

Question 3

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [6]:
print("Question 4")
df.describe()

Question 4

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
count,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06,2.049280e+06
mean,1.091615e+00,1.237145e-01,2.408399e+02,4.627759e+00,1.121923e+00
std,1.057294e+00,1.127220e-01,3.239987e+00,4.444396e+00,6.153031e+00
min,7.600000e-02,0.000000e+00,2.232000e+02,2.000000e-01,0.000000e+00
25%,3.080000e-01,4.800000e-02,2.389900e+02,1.400000e+00,0.000000e+00
50%,6.020000e-01,1.000000e-01,2.410100e+02,2.600000e+00,0.000000e+00
75%,1.528000e+00,1.940000e-01,2.428900e+02,6.400000e+00,0.000000e+00
max,1.112200e+01,1.390000e+00,2.541500e+02,4.840000e+01,8.800000e+01

In [7]:
print("Question 5 before drop")
df.isna().sum()

Question 5 before drop

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
print("Question 5 after drop")
df.isna().sum()

Question 5 after drop

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [10]:
print("Question 6 before")
df

Question 6 before

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.0
2006-12-16,5.360,0.436,233.63,23.0,0.0
2006-12-16,5.374,0.498,233.29,23.0,0.0
2006-12-16,5.388,0.502,233.74,23.0,0.0
2006-12-16,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...
2010-11-26,0.946,0.000,240.43,4.0,0.0
2010-11-26,0.944,0.000,240.00,4.0,0.0
2010-11-26,0.938,0.000,239.82,3.8,0.0
2010-11-26,0.934,0.000,239.70,3.8,0.0
2010-11-26,0.932,0.000,239.55,3.8,0.0

In [11]:
df.loc[:,'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06
print("Question 6 after")
df

Question 6 after

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.06
2006-12-16,5.360,0.436,233.63,23.0,0.06
2006-12-16,5.374,0.498,233.29,23.0,0.06
2006-12-16,5.388,0.502,233.74,23.0,0.06
2006-12-16,3.666,0.528,235.68,15.8,0.06
...,...,...,...,...,...
2010-11-26,0.946,0.000,240.43,4.0,0.06
2010-11-26,0.944,0.000,240.00,4.0,0.06
2010-11-26,0.938,0.000,239.82,3.8,0.06
2010-11-26,0.934,0.000,239.70,3.8,0.06
2010-11-26,0.932,0.000,239.55,3.8,0.06

In [12]:
print("Question 7")
filtered_df = df.loc[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
print(filtered_df.head().to_markdown())

Question 7
| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |    244.81 |                4   |             0.06 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |    244.78 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |    244.74 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |    245.28 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |    246.3  |                3.4 |             0.06 |

In [13]:
print("Question 8")
print(df.iloc[88889])

Question 8
Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.350
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [14]:
print("Question 9")
max_date = df['Global_active_power'].idxmax()
print(f"Timestamp('{max_date}')")

Question 9
Timestamp('2009-02-22 00:00:00')

In [15]:
# Sort the DataFrame
sorted_df = df.sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True])

# Select the first three columns
sorted_df = sorted_df.iloc[:, :3]

print("Question 10")
print(sorted_df.tail().to_markdown() )

Question 10
| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |                0.2 |             0.06 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |                0.2 |             0.06 |

In [16]:
# Group by the date index and take the mean of 'Global_active_power'
daily_avg = df.groupby(df.index.date)['Global_active_power'].mean()

print("Question 10")
print(daily_avg)

Daily average of Global_active_power:
Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64